.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#confirmation_paragraph {
    margin: 50px auto;
    color: rgb(82, 181, 226);
    font-size: 25px;
}
.prev_step {
    margin: 75px 500px 0 0;
}